<!DOCTYPE html>
<html lang="vn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        tbody{
            width: 100%;
        }
    </style>
</head>
<body>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td align="center" style="padding: 20px 40px; background-color: #fff;">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td style="display: flex; justify-content: space-between; align-items: center; padding: 10px 0;">
                            <img src="{{logo_url}}" style="height: 50px; object-fit: contain;">
                            <div style="display: flex; align-items: center; gap: 30px; font-size: 30px;">
                                <i class="fa fa-envelope"></i>
                                <i class="fa fa-bell"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-radius: 10px; padding: 20px 40px; background-color: #F5F5F5;">
                            <h1 style="font-size: 30px; color: rgb(5, 4, 83); text-align: center; padding: 0 40px;">Chào mừng sự kiện mới tại {{location}}</h1>
                            <div style="width: 90%; height: 1px; background-color: rgb(5, 4, 83); margin: 20px auto;"></div>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="position: relative;">
                                <tr>
                                    <td align="center" style="position: absolute; bottom: 20px; width: 100%; margin: auto;">
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="display: flex; justify-content: space-between; align-items: center;width: 100%;">
                                            <tr style="display: flex; margin: auto; justify-content: center; width: 100%;">
                                                <td style="margin: auto; background-color: rgba(51,51,51,.55); border-radius: 5px; padding: 0 40px 0 20px; width: 100%;">
                                                    <h2 style="font-size: 20px; color: #fff; text-shadow: 2px 2px 4px #000000; width: 100%; text-align: center;">Sự kiện {{name}} diễn ra vào ngày {{start_date__day}} tháng {{start_date__month}} năm {{start_date__year}} lúc {{start_time}} tại {{location}}.Chúng tôi mong được chào đón bạn tại sự kiện này!</h2>
                                                    <!-- <table cellpadding="0" cellspacing="0" border="0" style="display: flex; align-items: center;">
                                                        <tr style="display: flex; justify-content: center; align-items: center; width: 100%;">
                                                            <td style="padding: 10px 20px; text-align: center;">
                                                                <span style="font-size: 24px; font-weight: 600; color: #fff;">Tháng {{start_date__month}}</span><br>
                                                                <span style="font-size: 40px; font-weight: 600; color: #fff;">{{start_date__day}}</span><br>
                                                                <span style="font-size: 24px; font-weight: 600; color: #fff;">{{start_date__year}}</span>
                                                            </td>
                                                            <td style="padding-top:10px; text-align:center; display:flex; flex-direction: column; align-items: center; justify-content: center;">
                                                                <span style="display: flex; align-items: center; justify-content: center; gap: 10px; width: 200px; font-size: 16px; color: #fff;">
                                                                    <i class="fa fa-clock-o"></i>
                                                                    {{start_time}}
                                                                </span><br>
                                                                <span style="display: flex; align-items: center; justify-content: center; gap: 10px; width: 200px; font-size: 16px; color: #fff;">
                                                                    <i class="fa fa-map-marker"></i>
                                                                    {{location}}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </table> -->
                                                </td>
                                            </tr>
                                        </table>
                                        <a href="{{event_url}}" style="display: block; text-align: center; font-size: 16px; color: #fff; background-color: rgba(51,51,51,.55); border-radius: 5px; padding: 10px 20px; text-decoration: none; margin-top: 10px;">Xem thêm</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="{{event_banner_url}}" style="width: 100%; height: 400px; border-radius: 8px; object-fit: cover; object-position: center center;">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 40px; background-color: #ccc; text-align: center;">
                            <span style="font-size: 16px; color: #000;">VTicket là trang web đặt vé sự kiện trên toàn Việt Nam, cung cấp vé cho nhiều loại sự kiện như nhạc hội, gây quỹ từ thiện, ẩm thực, thể thao và nhiều hơn nữa, giúp bạn dễ dàng tham gia mọi hoạt động yêu thích.</span><br>
                            <span style="font-size: 14px; color: #000;">©2024 VTicket. All rights reserved.</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>