<div style="width: 100%;">
    <div style="width: 100%; height: 50px; background-color: rgb(86, 86, 86); color: #fff; text-align: center;line-height: 50px;font-size: 24px;">Chào đón sự kiện mới: {{name}}</div>
    <div style="font-size: 24px;">Ngày bắt đầu: {{start_date}}</div>
    <div style="font-size: 24px;">Giờ  bắt đầu: {{start_time}}</div>
    <div style="font-size: 24px;">Xem chi tiết sự kiện <a href="{{event_url}}">tại đây</a></div>
    <img src="{{event_banner_url}}" style="width: 100%;margin-top: 12px;">
</div>